.addbox{
    border: 1px solid whitesmoke;
    margin-right: 50%;
    margin-left: 1%;
    box-shadow: 0 0 3px 3px gainsboro;
    border-radius: 10px;
}
.addform{
    padding-left: 1%;
}
.mainheading{
   padding-left: 15%;
   color:black;
   padding-top: 2%;
}
.cancel{
    margin-left: 65%;
}
.delete{
    margin-top: 0%;
    background-color: rgb(255, 0, 43);
    border-radius: 5px;
    padding-bottom: 4px;
}
#visible{
    visibility: hidden;
}